<div class='row main' style="margin:20px 0px 0px 0px">
    <form method="post" action="/admin/sanpham/sua/<%= sanpham.id %>" class="form-horizontal" enctype="multipart/form-data">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
        <div class="col-sm-7 col-sm-offset-2">
             <% if(req.session.flash && req.session.flash.err){ %>
                <% var j = req.flash('err')[0] %>                    
                        <% Object.keys(j).forEach(function(err){ %>				
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <strong>Lỗi</strong>
                            <%= JSON.stringify(j[err][0].message) %>                        
                    </div>
                        <% }) %>                   
                <% } %>
            <% if(req.session.flash && req.session.flash.success){ %>
                <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <%= req.flash('success') %>
                </div>
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">Thông tin sản phẩm<small><%= sanpham.tensanpham %></small></div>
                <div class="panel-body">
                    <div>
                        <h4>Tên sản phẩm</h4>
                        <div>
                            <input type="text" name="txt_tensp" id="txt_tensp" class="form-control" value="<%= sanpham.tensanpham %>">
                            <label for="txt_tensp" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Số lượng</h4>
                        <div>
                            <input type='number' name='txt_sl' class='form-control' placeholder="Số lượng" value="<%= sanpham.soluong %>">
                            <label for="txt_sl" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Giá nhập</h4>
                        <div>
                            <input type='number' min="0" name='txt_gianhap' class='form-control' placeholder="Giá nhập" value="<%= sanpham.gnhap %>">
                            <label for="txt_gianhap" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Giá bán</h4>
                        <div>
                            <input type='number' min="0"  name='txt_gia' class='form-control' placeholder="Giá" value="<%= sanpham.gia %>">
                            <label for="txt_gia" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Giá khuyến mãi</h4>
                        <div>
                            <input type='number' min='0' name='txt_km' class='form-control' placeholder="Giá khuyến mãi" value="<%= sanpham.khuyenmai %>">
                             <label for="txt_km" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Nội dung</h4>
                        <div>
                            <textarea class='ckeditor'  name='txt_noidung' id='txt_noidung'><%= sanpham.mota %></textarea>                           
                        </div>
                    </div>
                    <div>
                        <h4>Cấu hình</h4>
                        <div>
                            <textarea class='ckeditor' name='txt_cauhinh' id='txt_cauhinh'><%- sanpham.cauhinh %></textarea>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class='col-sm-3'>
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <h4>Thiết bị</h4>
                            <select name="cbo_thiet_bi" id="cbo_thiet_bi" class="form-control">
                        <% thietbi.forEach(function(value){ %>
                            <option value='<%=value.id%>'
                                <% if(sanpham.idthietbi == value .id){%>
                                    selected
                                <% } %>
                                ><%=value.tenthietbi%></option>
                        <% }) %>
					</select>
                        </div>
                    </div>
                    <div>
                        <h4>Nhà sản xuất</h4>
                        <div>
                            <select name="cbo_nhasx" id="cbo_nhasx" class="form-control">
                                <% nhasx.forEach(function(value){ %>
                                    <option value="<%= value.id %>"
                                        <% if(value.id == sanpham.idnhasanxuat){%>
                                            selected
                                        <% } %>
                                        ><%= value.tennhasanxuat %></option>
                                <% }) %>
					    </select>
                         <label for="cbo_nhasx" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                    <div>
                        <h4>Nhà cung ứng</h4>
                        <div>
                            <select name="cbo_nhacungung" id="cbo_nhacungung" class="form-control">
                        <% nhacungung.forEach(function(nhacungung){ %>
                            <option value='<%=nhacungung.id%>'
                            <% if(nhacungung.id == sanpham.idnhacungung){ %>
                                selected
                            <% } %>
                            ><%=nhacungung.tennhacungung%></option>
                        <% }) %>
                        </select>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ảnh sản phẩm
                </div>
                <div class="panel-body">
                    <div>
                        <div>                             
                            <input type="file" accept="image/.gif|.png|.jpg|.jpeg" name='ful_anhdaidien' id="ful_anhdaidien" class="filestyle" data-buttonName="btn-primary">
                        </div>                        
                        <div class="image-holder" id="image-holder-1">
                            <img class="img-responsive" src="images/anhdaidien/<%= sanpham.anhdaidien %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ảnh chi tiết
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <input type="file" accept="image/.gif|.png|.jpg|.jpeg" name='ful_anhsanpham' id="ful_anhsanpham" multiple class="filestyle" data-buttonName="btn-primary">
                        </div>                        
                        <div class="image-holder" id="image-holder-2">
                            <% hinhsanpham.forEach(function(value){ %>
                                <img class="img-responsive thumb-image" src="images/anhchitiet/<%= value.url %>">
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-center'>
            <input type="submit" name="btn_them" class="btn btn-primary" value="Cập nhật">
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#chkanhsp").change(function () {
            if ($(this).is(":checked")) {
                $("#image-holder-2 img").hide();
            } else {
                $("#image-holder-2 img").show();
            }
        });
        $("#chkanhdaidien").change(function () {
            if ($(this).is(":checked")) {
                $("#image-holder-1 img").hide();
            } else {
                $("#image-holder-1 img").show();
            }
        });
    });

</script>
<script>
    $("#cbo_thiet_bi").change(function () {
        var id = $("#cbo_thiet_bi").val();
        $.get('/admin/ajax/nhasx-' + id, function (data) {
            $("#cbo_nhasx").html(data);
        });
    });

</script>
<script>
    $(":file").filestyle({ buttonName: "btn-primary", buttonText: "Chọn hình" });

</script>
<script src='admin_asset/js/jquery.validate-1.9.js'></script>
<script>
    $("form").validate({
        rules: {
            txt_tensp: {
                required: true,
                rangeLength: [1, 100],
            },
            txt_sl: {
                required: true,
                range: [1, 1000],
            },
            txt_gianhap: {
                required: true,
                range:[1,100000000],
            },
            txt_gia: {
                required: true,
                range:[1,100000000],
            },
            txt_km: {
                required: true,
            },
            txt_noidung: {
                required: true,
                maxLength: 200000,
            },
            txt_cauhinh: {
                required: true,
                maxLength: 50000,
            },
            cbo_nhasx: {
                required: true,
            },
            ful_anhdaidien: {
                required: true,
            }
        },
        messages: {
            txt_tensp: {
                required: "Bạn chưa nhập tên sản phẩm",
                rangeLength: "Tên sản phẩm từ 1 - 100 ký tự",
            },
            txt_sl: {
                required: "Bạn chưa nhập số lượng sản phẩm",
                range: "Số lượng từ 1 - 1000",
            },
            txt_gianhap: {
                required: "Bạn chưa nhập giá sản phẩm",
                 range:"Giá không thể là 0 đồng",
            },
            txt_gia: {
                required: "Bạn chưa nhập giá sản phẩm",
                range:"Giá không thể là 0 đồng",
            },
            txt_km: {
                required: "Bạn chưa nhập giá khuyến mãi",
            },
            txt_noidung: {
                required: "Bạn chưa nhập nội dung mô tả sản phẩm",
                maxLength: "Nội dung mô tả sản phẩm tối đa 200000 ký tự",
            },
            txt_cauhinh: {
                required: "Bạn chưa nhập cấu hình sản phẩm",
                maxLength: "Chi tiết cấu hình tối đa 50000 ký tự",
            },
            cbo_nhasx: {
                required: "Bạn chưa chọn nhà sản xuất cho sản phẩm",
            },
            ful_anhdaidien: {
                required: "Bạn chưa chọn ảnh đại diện",
            }
        }
    });

</script>
<% script('admin_asset/js/bootstrap-filestyle.min.js') -%>
    <% script('admin_asset/ckeditor/ckeditor.js') -%>
        <% script('admin_asset/js/preview.js') -%>