<div class='row main' style="margin:20px 0px 0px 0px">
    <form method="post" action="/admin/sanpham/them" class="form-horizontal" enctype="multipart/form-data">
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
        <div class="col-sm-7 col-sm-offset-2">
            <% if(req.session.flash && req.session.flash.err){ %>
                <% var j = req.flash('err')[0] %>
                    <% Object.keys(j).forEach(function(err){ %>
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Lỗi</strong>
                            <%= JSON.stringify(j[err][0].message) %>
                        </div>
                        <% }) %>
                            <% } %>
                                <% if(req.session.flash && req.session.flash.success){ %>
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                        <%= req.flash('success') %>
                                    </div>
                                    <% } %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Thông tin sản phẩm</div>
                                            <div class="panel-body">
                                                <div>
                                                    <h4>Tên sản phẩm</h4>
                                                    <div>
                                                        <input type="text" name="txt_tensp" id="txt_tensp" class="form-control" value="">
                                                        <label for="txt_tensp" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Số lượng</h4>
                                                    <div>
                                                        <input type='number' min="0" value="0" name='txt_sl' class='form-control' placeholder="Số lượng">
                                                        <label for="txt_sl" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Giá sản phẩm</h4>
                                                    <div>
                                                        <input type='number' min="0" value="0" name='txt_gia' class='form-control' placeholder="Giá">
                                                        <label for="txt_gia" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Giá khuyến mãi</h4>
                                                    <div>
                                                        <input type='number' min='0' value="0" name='txt_km' class='form-control' placeholder="Giá khuyến mãi">
                                                        <label for="txt_km" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Nội dung</h4>
                                                    <div>
                                                        <textarea class='ckeditor' name='txt_noidung' id='txt_noidung'></textarea>
                                                        <label for="txt_noidung" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Cấu hình</h4>
                                                    <div>
                                                        <textarea class='ckeditor' name='txt_cauhinh' id='txt_cauhinh'></textarea>
                                                        <label for="txt_cauhinh" generated="true" class="error" style="color:red"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        </div>
        <div class='col-sm-3'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thong tin 2
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <h4>Thiết bị</h4>
                            <select name="cbo_thiet_bi" id="cbo_thiet_bi" class="form-control">
                        <% thietbi.forEach(function(value){ %>
                            <option value='<%=value.id%>'><%=value.tenthietbi%></option>
                        <% }) %>
					</select>
                        </div>
                    </div>
                    <div>
                        <h4>Nhà sản xuất</h4>
                        <div>
                            <select name="cbo_nhasx" id="cbo_nhasx" class="form-control">
                       
					    </select>
                            <label for="cbo_nhasx" generated="true" class="error" style="color:red"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ảnh sản phẩm
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <label for="ful_anhdaidien" generated="true" class="error" style="color:red"></label>
                            <input type="file" accept="image/*" name='ful_anhdaidien' id="ful_anhdaidien" class="filestyle" data-buttonName="btn-primary">
                        </div>
                        <div class="image-holder" id="image-holder-1">

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ảnh chi tiết
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <input type="file" accept="image/*" name='ful_anhsanpham' id="ful_anhsanpham" multiple class="filestyle" data-buttonName="btn-primary">
                        </div>
                        <div class="image-holder" id="image-holder-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-center'>
            <input type="submit" name="btn_them" class="btn btn-primary" value="Cập nhật">
        </div>
    </form>
</div>

<script>
    $("#cbo_thiet_bi").change(function () {
        var id = $("#cbo_thiet_bi").val();
        $.get('/admin/ajax/nhasx-' + id, function (data) {
            $("#cbo_nhasx").html(data);
        });
        // alert(id);
    });

</script>
<script>
    $(":file").filestyle({ buttonName: "btn-primary", buttonText: "Chọn hình" });

</script>
<script src='admin_asset/js/jquery.validate-1.9.js'></script>
<script>
    $("form").validate({
        rules: {
            txt_tensp: {
                required: true,
                rangeLength: [10, 50],
            },
            txt_sl: {
                required: true,
                range: [1, 100],
            },
            txt_gia: {
                required: true,
            },
            txt_km: {
                required: true,
            },
            txt_noidung: {
                required: true,
                maxLength: 2000,
            },
            txt_cauhinh: {
                required: true,
                maxLength: 500,
            },
            cbo_nhasx: {
                required: true,
            },
            ful_anhdaidien: {
                required: true,
            }
        },
        messages: {
            txt_tensp: {
                required: "Bạn chưa nhập tên sản phẩm",
                rangeLength: "Tên sản phẩm từ 10 - 50 ký tự",
            },
            txt_sl: {
                required: "Bạn chưa nhập số lượng sản phẩm",
                range: "Số lượng từ 1 - 100",
            },
            txt_gia: {
                required: "Bạn chưa nhập giá sản phẩm",
            },
            txt_km: {
                required: "Bạn chưa nhập giá khuyến mãi",
            },
            txt_noidung: {
                required: "Bạn chưa nhập nội dung mô tả sản phẩm",
                maxLength: "Nội dung mô tả sản phẩm tối đa 2000 ký tự",
            },
            txt_cauhinh: {
                required: "Bạn chưa nhập cấu hình sản phẩm",
                maxLength: "Chi tiết cấu hình tối đa 500 ký tự",
            },
            cbo_nhasx: {
                required: "Bạn chưa chọn nhà sản xuất cho sản phẩm",
            },
            ful_anhdaidien: {
                required: "Bạn chưa chọn ảnh đại diện",
            }
        }
    });

</script>
<% script('admin_asset/js/bootstrap-filestyle.min.js') -%>
    <% script('admin_asset/ckeditor/ckeditor.js') -%>
        <% script('admin_asset/js/preview.js') -%>