<div class='row main'>
    <div class="col-sm-9 col-sm-offset-3">
    <% if(chitiet != null){ %>
        <h1>Đơn hàng <small><%= chitiet[0].idhoadon.donhang%></small></h1>        
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="my_table">
                <thead>
                    <tr align="center">
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                    <% chitiet.forEach(function(ct){%>
                        <tr>
                            <td>
                                <%= ct.idsanpham.tensanpham %>
                            </td>
                            <td>
                                <%= ct.soluong %>
                            </td>
                            <td>
                                <%= accounting.formatMoney(ct.gia,options) %>
                            </td>
                        </tr>
                        <% }) %>
                            <tr>
                                <td class="text-center" colspan="3">
                                    <h4>Thông tin</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Tổng giá trị</td>
                                <td>
                                    <%= accounting.formatMoney(chitiet[0].idhoadon.giatri, options) %>
                                </td>
                            </tr>
                            <tr>
                                <td>Ngày đặt hàng: <b><%= moment(chitiet[0].idhoadon.createAt).locale('vi').format('LL') %></b></td>
                                <td  colspan="2">Trạng thái:
                                    <% if(chitiet[0].idhoadon.trangthai == 1){ %>
                                        <span class="label label-primary">Đang trong quá trình giao hàng</span>
                                        <% }else if(chitiet[0].idhoadon.trangthai == 0){ %>
                                            <span class="label label-success">Đã giao hàng</span>
                                            <% } else { %>                           
                                            <span class="label label-danger">Đơn hàng đã hũy</span>
                                            <% } %>                     
                                </td> 
                            </tr>                            
                </tbody>
            </table>
        </div>
        <% } %>
        <% if(req.session.flash && req.session.flash.err){ %>
            <% var j = req.flash('err')[0] %>
                <% Object.keys(j).forEach(function(err){ %>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>Lỗi</strong>
                    <%= JSON.stringify(j[err][0].message) %>
                </div>
                <% }) %>
        <% } %>
        <% if(req.session.flash && req.session.flash.warning){ %>
            <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>Cảnh báo:</strong>
                    <%= req.flash('warning') %>
                </div>
        <% } %>
    </div>

</div>