<style type="text/css">
    .error{
        color: red;
        font-weigth:700;
    }
</style>
<div class='row main' style="margin:20px 0px 0px 0px">
    <form method="post" action="/admin/nhacungung/sua/<%= nhacungung.id %>" class="form-horizontal">
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>        
        <div class="col-sm-10 col-sm-offset-2">
        <h1>Cập nhật thông tin nhà cung ứng <%= nhacungung.tennhacungung%></h1>
        <% if(req.session.flash && req.session.flash.err){ %>
            <% var j = req.flash('err')[0] %>
                <% Object.keys(j).forEach(function(err){ %>
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <strong>Lỗi</strong>
                        <%= JSON.stringify(j[err][0].message) %>
                    </div>
            <% }) %>
        <% } %>
        <% if(req.session.flash && req.session.flash.success){ %>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <%= req.flash('success') %>
            </div>
        <% } %>
            <div class="form-group">
                <h4>Tên nhà cung ứng</h4>
                <input type="text" name="txt_tennhacungung" class="form-control" value="<%= nhacungung.tennhacungung %>">
            </div>
            <div class="form-group">
                <h4>Địa chỉ</h4>
                <input type="text" name="txt_diachi" class="form-control" value="<%= nhacungung.diachi %>">
            </div>
            <div class="form-group">
                <h4>Email</h4>
                <input type="email" name="txt_email" class="form-control" value="<%= nhacungung.email %>">
            </div>
            <div class="form-group">
                <h4>Số điện thoại</h4>
                <input type="text" name="txt_sdt" class="form-control" onkeypress="return isNumber(event);" value="<%= nhacungung.sodienthoai %>">
            </div>            
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>        
    </form>
</div>
<script>
    $(":file").filestyle({ buttonName: "btn-primary", buttonText: "Chọn hình" });
</script>
<script src='admin_asset/js/jquery.validate-1.9.js'></script>
<script>
    $("form").validate({
        rules: {
            txt_tennhacungung:{
                required: true,
            },
            txt_diachi:{
                required:true,
            },
            txt_sdt:{
                required: true,
            }
        },
        messages: {
            txt_tennhacungung:{
                required: "Bạn chưa nhập tên nhà cung ứng",
            },
            txt_diachi:{
                required: "Bạn chưa nhập địa chỉ",
            },
            txt_sdt:{
                required: "Bạn chưa nhập số điện thoại",
            }
        }
    });
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>
<% script('admin_asset/js/bootstrap-filestyle.min.js') -%>
        <% script('admin_asset/js/preview.js') -%>
