<% include ../../frontend/index/slider %>
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="online-strip">
                <div class="col-md-4 follow">
                    <h3>
                    Theo dõi:
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>                       
                    </h3>
                </div>
                <div class="col-md-4 shipping-grid">
                    <div class="shipping">
                        <img src="asset/img/shipping.png">                        
                    </div>
                    <div class="shipping-text">
                        <h3>Giao hàng miễn phí</h3>
                        <h3>Trên toàn quốc</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 online-order">
                    <h3>Hỗ trợ</h3>
                    <h3>Tel:0909.000.000</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- End promo area -->
   <script> 
    </script>
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Sản phẩm được mua nhiều</h2>
                        <div class="product-carousel">
                            <% sanpham.forEach(function(value){%>
                                 <div class="col-sm-12">
                                    <div class="thumbnail">
                                        <a href="/chitiet/<%= value.slug %>/<%= value.id %>.html" title="<%= value.tensanpham %>">
                                            <img src="images/anhdaidien/<%= value.anhdaidien %>" alt="<%= value.tensanpham %>">
                                        </a>
                                        <div class="caption text-center">
                                            <h4 style="">
                                                <a href="/chitiet/<%= value.slug %>/<%= value.id %>.html" title="<%= value.tensanpham %>">
                                                    <%= value.tensanpham %>
                                                </a>
                                            </h4>                                            
                                            <% if(value.khuyenmai !='0'){ %>
                                                <p>
                                                <del><%= accounting.formatMoney(value.gia,options) %></del>
                                                    <ins><%= accounting.formatMoney(value.khuyenmai,options) %><sup style="color: red">KM</sup>
                                                    </ins>
                                                </p>
                                                <% } else { %>
                                                    <p>
                                                 <ins><%= accounting.formatMoney(value.gia,options) %></ins>
                                                 </p>
                                                <% } %>
                                                    <p>
                                                        <a href="/addtocart/<%= value.id %>" class="btn btn-primary">Mua ngay</a>
                                                    </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- End main content area -->

    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="asset/img/brand1.png" alt="">
                            <img src="asset/img/brand2.png" alt="">
                            <img src="asset/img/brand3.png" alt="">
                            <img src="asset/img/brand4.png" alt="">
                            <img src="asset/img/brand5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End brands area -->

    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
            <h2 class="section-title">Sản phẩm mới</h2>
            <% topsanpham.forEach(function(sanpham){ %>
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="product-main" style="border:1px solid #dddddd;    margin-bottom: 20px;"">
                        <a href="/chitiet/<%= sanpham.slug %>/<%= sanpham.id %>.html">
                            <img src="images/anhdaidien/<%= sanpham.anhdaidien %>" alt="<%= sanpham.tensanpham %>"   class="img img-responsive">
                        </a>
                        <div class="product-buttom">
                            <h3>
                            <a href="/chitiet/<%= sanpham.slug %>/<%= sanpham.id %>.html">
                            <%= sanpham.tensanpham %>
                                </a>
                            </h3>
                            <% if(sanpham.khuyenmai !='0'){ %>
                                <p>
                                    <del><%= accounting.formatMoney(sanpham.gia,options) %></del>
                                    <ins><%= accounting.formatMoney(sanpham.khuyenmai,options) %><sup style="color: red">KM</sup></ins>
                                </p>
                                <% } else { %>
                                    <p>
                                 <%= accounting.formatMoney(sanpham.gia,options) %>
                                 </p>
                                <% } %>
                        </div>
                    </div>
                </div>  
            <% }) %>              
            </div>
        </div>
    </div>
    <!-- End product widget area -->