<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>
                        <%=sanpham[0].idnhasanxuat.tennhasanxuat%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <input type="hidden" id="<%= sanpham[0].idnhasanxuat.id %>" value="<%= sanpham[0].idnhasanxuat.id %>">
        <div class="row" id="result">
            <% sanpham.forEach(function(key){ %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="/chitiet/<%= key.slug %>/<%= key.id %>.html" title="<%= key.tensanpham %>">
                            <img src="images/anhdaidien/<%= key.anhdaidien %>" alt="<%= key.tensanpham %>">
                        </a>
                        <div class="caption text-center">
                            <h4 style="">
                                <a href="/chitiet/<%= key.slug %>/<%= key.id %>.html" title="<%= key.tensanpham %>">
                                    <%= key.tensanpham %>
                                </a>
                            </h4>                            
                            <% if(key.khuyenmai !='0'){ %>
                                <p>
                                <del><%= accounting.formatMoney(key.gia,options) %></del>
                                    <ins><%= accounting.formatMoney(key.khuyenmai,options) %><sup style="color: red">KM</sup>
                                    </ins>
                                </p>
                                <% } else { %>
                                    <p>
                                 <ins><%= accounting.formatMoney(key.gia,options) %></ins>
                                 </p>
                                <% } %>
                                        <p>
                                            <a href="/addtocart/<%= key.id %>" class="btn btn-primary">Mua ngay</a>
                                        </p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="text-center">
            <button id="btnload" class="btn btn-default">Xem thêm sản phẩm <span class="caret"></span></button>
        </div>
        <script>
            $(document).ready(function () {
                var page = 2;
                var id = $("input[type='hidden']").val();
                $("#btnload").click(function () {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: '/loadsanpham/' + id + '/' + page,
                        data: {
                            id: id,
                            page: page,
                        },
                        success: function (data) {
                            if (data) {
                                page++;
                                $("#result").append(data);
                            } else {
                                $("#btnload").remove();
                            }
                        },
                    });
                });
            });
        </script>
    </div>
</div>