<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><%=sanpham[0].idnhasanxuat.tennhasanxuat%></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <% sanpham.forEach(function(key){ %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="/chitiet/<%= key.tensanpham %>/<%= key.id %>.html" title="<%= key.tensanpham %>">
                            <img src="images/anhdaidien/<%= key.anhdaidien %>" alt="<%= key.tensanpham %>">
                        </a>
                        <div class="caption text-center">
                            <h3 style=""><a href="/chitiet/<%= key.tensanpham %>/<%= key.id %>.html" title="<%= key.tensanpham %>"><%= key.tensanpham %></a></h3>
                            <p><%= accounting.formatMoney(key.gia,options) %><sup>đ</sup></p>
                            <% if(key.khuyenmai !='0' || key.khuyenmai != ''){ %>
                                <p><%= accounting.formatMoney(key.khuyenmai,options) %><sup>đ</sup></p>
                            <% } %>
                            <p>
                                <a href="/addtocart/<%= key.id %>" class="btn btn-primary">Buy Now!</a>
                            </p>
                        </div>
                    </div>
                </div>    
            <% }) %>                    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>