<% stylesheet('asset/css/fotorama.css') -%>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>
                            <%=result.tensanpham%>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--<div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>-->
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="fotorama" data-nav="thumbs" data-autoplay="5000" data-loop="true" data-width="100%">
                                        <img src="images/anhdaidien/<%=result.anhdaidien%>">
                                        <% result.anhsanpham.forEach(function(anh){ %>
                                            <img src="images/anhchitiet/<%=anh.url%>" alt="result.tensanpham">
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">
                                        <%=result.tensanpham%>
                                    </h2>
                                    <div class="product-inner-price">
                                        <% if(result.khuyenmai !='0'){ %>
                                        <p>
                                            <%= accounting.formatMoney(result.khuyenmai,options) %><sup style="color: red">KM</sup>
                                        </p>
                                        <% } else { %>
                                            <p>
                                            <%= accounting.formatMoney(result.gia,options) %>
                                            </p>
                                        <% } %>
                                    </div>

                                    <div class="cart">
                                        <a class="add_to_cart_button" href="/addtocart/<%=result.id%>">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail" style="margin:20px 0px 0px 0px">
                            <!-- Nav tabs -->
                            <div class="card">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#mota" aria-controls="mota" role="tab" data-toggle="tab">Mô tả sản phẩm</a></li>
                                    <li role="presentation"><a href="#cauhinh" aria-controls="cauhinh" role="tab" data-toggle="tab">Cấu hình chi tiết</a></li>
                                    <li role="presentation"><a href="#binhluan" aria-controls="binhluan" role="tab" data-toggle="tab">Bình luận</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="mota">
                                        <%- result.mota%>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="cauhinh">
                                        <%- result.cauhinh%>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="binhluan">
                                        <div id="fb-root"></div>
                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));
                                        </script>
                                        <div class="fb-comments" data-numposts="5" data-width="100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".digital table").addClass('table table-striped');
            $("table tbody tr td div").removeAttr('style');
        });
    </script>
    <script>
        $(document).ready(function () {
            var flag = false;
            $("#navcau-hinh").click(function () {
                $("#panel-cau-hinh").slideToggle(500);
            });
            $("#panel-cau-hinh").hide();
        });
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e9088d9c69597"></script>
    <% script('asset/js/fotorama.js') -%>