<% stylesheet('asset/css/fotorama.css') -%>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>
                            <%=result.tensanpham%>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="fotorama" data-nav="thumbs" data-autoplay="2000" data-width="100%">
                                        <img src="images/anhdaidien/<%=result.anhdaidien%>">

                                        <img src="images/anhchitiet/<%=result.anhsanpham[0].url%>">
                                        <img src="images/anhchitiet/<%=result.anhsanpham[1].url%>">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">
                                        <%=result.tensanpham%>
                                    </h2>
                                    <div class="product-inner-price">
                                        <ins>
                                            <%=result.gia%>
                                        </ins>
                                        <del>
                                            <%=result.khuyenmai%>
                                        </del>
                                    </div>

                                    <div class="cart">
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail" style="margin:20px 0px 0px 0px">
                            <h2 class="related-products-title">Chi tiết sản phẩm</h2>
                            <div class="content-detail">
                                <%- result.mota %>
                            </div>
                            <h2 class="related-products-title">Cấu hình sản phẩm</h2>
                            <div class="content-detail">
                                <%- result.cauhinh %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e9088d9c69597"></script>
    <% script('asset/js/fotorama.js') -%>