<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page title area -->
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <% if(!_.isEmpty(product)){ %>
                <div class="col-md-8" id="cart">
                    <div class="product-content-right">
                        <div class="woocommerce table-responsive">
                            <form method="post" action="/cart">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                <table cellspacing="0" class="shop_table cart table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(product,function(value){ %>
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="Remove this item" class="remove" href="/xoa/<%= value.item.id %>" style="cursor:pointer">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/chitiet/<%= value.item.slug %>/<%= value.item.id %>.html"><img width="145" height="145" alt="<%= value.item.tensanpham %>" class="shop_thumbnail" src="images/anhdaidien/<%= value.item.anhdaidien %>"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="/chitiet/<%= value.item.slug %>/<%= value.item.id %>.html">
                                                        <%= value.item.tensanpham %>
                                                    </a>
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount"><% if(value.item.khuyenmai != 0){ %>
                                                <%= accounting.formatMoney(value.item.khuyenmai,options) %>
                                            <% } else {%>
                                                <%= accounting.formatMoney(value.item.gia,options) %>
                                            <% } %>
                                            </span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <!--<input type="button" class="minus" value="-">-->
                                                        <input type="number" size="4" class="input-text qty text" name="num_soluong" id="<%= value.item.id %>" title="Qty" value="<%= value.qty %>"
                                                            min="1" step="1" max="10">
                                                        <!--<input type="button" class="plus" value="+">-->
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount" id="<%= value.item.id %>"><%= accounting.formatMoney(value.gia,options) %></span>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </form>
                            <p id="demo"></p>
                            <script>
                                $(document).ready(function () {
                                    $("input[type='number']").blur(function () {
                                        var num_soluong = $(this).val();
                                        var id = $(this).attr('id');
                                        var column = $(this).closest('tr').find('.product-subtotal span');
                                        var tong = 0;
                                        $.post('/thaydoi', {
                                            _csrf: "<%= _csrf %>",
                                            soluong: num_soluong,
                                            id: id,
                                        }, function (data) {
                                            $("#demo").html(data);
                                            column.text(accounting.formatMoney(JSON.stringify(data.items[id].gia), options));
                                            var n = (Object.keys(data.items).length);
                                            Object.keys(data.items).forEach(function (key) {
                                                tong += data.items[key].gia;
                                            });
                                            $("#tong").text(accounting.formatMoney(tong, options));
                                            $("#tonggiohang").text(accounting.formatMoney(tong, options));
                                        });
                                    });
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    $(".product-remove a").click(function () {
                                        var id = $(this).attr('id');
                                        $.ajax({
                                            type: "POST",
                                            cache: false,
                                            url: '/xoa',
                                            data: {
                                                id: id,
                                                _csrf: "<%= _csrf %>",
                                            },
                                            success: function () {
                                                window.location.reload();
                                            },
                                        });
                                    });
                                });
                            </script>
                            <div class="cart-collaterals row">
                                <!--<div class="cart_totals ">-->
                                <div class="col-sm-6">
                                    <h2>Giỏ hàng</h2>
                                    <table class="table table-bordered" cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tổng giỏ hàng</th>
                                                <td><span id="tonggiohang" class="amount"><%= accounting.formatMoney(price,options) %></span></td>
                                            </tr>

                                            <tr class="shipping-cart">
                                                <td><b>Phí vận chuyển</b></td>
                                                <td>Miễn phí</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Tổng</th>
                                                <td><strong><span id="tong" class="amount"><%= accounting.formatMoney(price,options) %></span></strong>                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-sm-6">
                                    <!--<form method="post" action="/cart" class="shipping_calculator">
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">-->
                                    <div class="shipping_calculator">
                                        
                                            <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap"
                                                    aria-expanded="false" aria-controls="calcalute-shipping-wrap">Thông tin khách hàng</a></h2>

                                            <p class="form-row form-row-wide"><input type="text" id="txt_tenkhachhang" name="txt_tenkhachhang" placeholder="Họ tên khách hàng *"
                                                    value="" class="input-text">
                                                    <label generated="true" class="error" for="txt_tenkhachhang"></label>
                                                    </p>
                                            <p class="form-row form-row-wide"><input type="text" id="txt_diachi" name="txt_diachi" placeholder="Địa chỉ *" value=""
                                                    class="input-text">
                                                    <label generated="true" class="error" for="txt_diachi"></label>
                                                    </p>
                                            <p class="form-row form-row-wide"><input type="text" id="txt_sdt" name="txt_sdt" placeholder="Số điện thoại *" value=""
                                                    onkeypress="return isNumber(event);" class="input-text" maxlength="11">
                                                     <label generated="true" class="error" for="txt_sdt"></label>
                                                    </p>
                                                    <p><button class="button" data-toggle="modal" data-target="#myModal" value="1" id="dathang"
                                                name="calc_shipping" type="submit">Đặt hàng</button></p>                                              
                                                                                      

                                    </div>                                    
                                    <!--<script src="asset/js/jquery.validate-1.9.js"></script>
                                    <script>
                                        $("#form_thongotin_kh").validate({
                                            rules: {
                                                txt_tenkhachhang: {
                                                    required: true,
                                                    rangeLength: [2, 50],
                                                },
                                                txt_diachi:{
                                                    required: true,
                                                    rangeLength: [10,50],
                                                },
                                                txt_sdt:{
                                                    required:true,
                                                    rangeLength:[8,11],
                                                }
                                            },
                                            messages: {
                                                txt_tenkhachhang: {
                                                    required: "Bạn chưa nhập tên",
                                                    rangeLength: "Tên 2 - 50 ký tự",
                                                },
                                                txt_diachi:{
                                                    required: "Bạn chưa nhập địa chỉa",
                                                    rangeLength: "Địa chỉ 10 - 50 ký tự",
                                                },
                                                txt_sdt:{
                                                    required: "Bạn chưa nhập số điện thoại",
                                                    rangeLength:"Tên 8 - 11 ký tự",
                                                }
                                            }
                                        });
                                    </script>-->
                                    <script>
                                        $(document).ready(function () {
                                            $("#dathang").click(function () {
                                                $.post('/dathang', {
                                                    txt_tenkhachhang: $('#txt_tenkhachhang').val(),
                                                    txt_diachi: $("#txt_diachi").val(),
                                                    txt_sdt: $("#txt_sdt").val(),
                                                    _csrf: "<%= _csrf %>",
                                                }, function (data) {
                                                    $("#code").text(data);
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="col-sm-2">
                    </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mã hóa đơn</h4>
            </div>
            <div class="modal-body">
                <p>Mã hóa đơn của bạn là
                    <h4 id="code"></h4>
                </p>
                </p>Nhập mã hóa đơn vào ô xem đơn hàng để xem chi tiết đơn hàng mà bạn đã đặt hàng</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
                                        $(document).ready(function () {
                                            $("#close").click(function () {
                                                window.location.href = "/";
                                            });
                                        });

</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>
<script>
    $("input[type='number']").keydown(function (e) {
        var key = e.keyCode || e.charCode;
        if (key == 8 || key == 46 || key == 48) {
            e.preventDefault();
            e.stopPropagation();
        }
    });

</script>