
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading" style="opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display:none">Loading ...</div>
<!-- End Page title area -->
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <!--<form action="#">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>-->
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="asset/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>
            <% if(!_.isEmpty(product)){ %>
                <div class="col-md-8" id="cart">
                    <div class="product-content-right">
                        <div class="woocommerce table-responsive">
                            <form method="post" action="/cart">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                <table cellspacing="0" class="shop_table cart table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(product,function(value){ %>
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="Remove this item" class="remove" id="<%= value.item.id %>" style="cursor:pointer">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/chitiet/<%= value.item.slug %>/<%= value.item.id %>.html"><img width="145" height="145" alt="<%= value.item.tensanpham %>" class="shop_thumbnail" src="images/<%= value.item.anhdaidien %>"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="/chitiet/<%= value.item.slug %>/<%= value.item.id %>.html">
                                                        <%= value.item.tensanpham %>
                                                    </a>
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount"><% if(value.item.khuyenmai != 0){ %>
                                                <%= accounting.formatMoney(value.item.khuyenmai,options) %>
                                            <% } else {%>
                                                <%= accounting.formatMoney(value.item.gia,options) %>
                                            <% } %>
                                            </span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <!--<input type="button" class="minus" value="-">-->
                                                        <input type="number" size="4" class="input-text qty text" name="num_soluong" id="<%= value.item.id %>" title="Qty" value="<%= value.qty %>"
                                                            min="1" step="1">
                                                        <!--<input type="button" class="plus" value="+">-->
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount" id="<%= value.item.id %>"><%= accounting.formatMoney(value.gia,options) %></span>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </form>
                            <p id="demo"></p>
                            <script>
                                $(document).ready(function () {
                                    $("input[type='number']").blur(function () {
                                        var num_soluong = $(this).val();
                                        var id = $(this).attr('id');
                                        var column = $(this).closest('tr').find('.product-subtotal span');
                                        var tong = 0;
                                        $.post('/thaydoi', {
                                            _csrf: "<%= _csrf %>",
                                            soluong: num_soluong,
                                            id: id,
                                        }, function (data) {
                                            column.text(accounting.formatMoney(JSON.stringify(data.items[id].gia), options));
                                            var n = (Object.keys(data.items).length);
                                            Object.keys(data.items).forEach(function (key) {
                                                tong += data.items[key].gia;
                                            });

                                            $("#tong").text(accounting.formatMoney(tong, options));
                                            $("#tonggiohang").text(accounting.formatMoney(tong, options));
                                        });
                                    });
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    $(".product-remove a").click(function () {
                                        var id = $(this).attr('id');
                                        $.ajax({
                                            type: "POST",
                                            cache: false,
                                            url: '/xoa',
                                            data: {
                                                id: id,
                                                _csrf: "<%= _csrf %>",
                                            },
                                            success: function (data) {
                                                windows.location.reload(true);
                                            },
                                        });
                                    });
                                });
                            </script>
                            <div class="cart-collaterals row">
                                <!--<div class="cart_totals ">-->
                                <div class="col-sm-6">
                                    <h2>Giỏ hàng</h2>
                                    <table class="table table-bordered" cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tổng giỏ hàng</th>
                                                <td><span id="tonggiohang" class="amount"><%= accounting.formatMoney(price,options) %></span></td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Phí vận chuyển</th>
                                                <td>Miễn phí</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Tổng</th>
                                                <td><strong><span id="tong" class="amount"><%= accounting.formatMoney(price,options) %></span></strong>                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-sm-6">
                                    <!--<form method="post" action="/cart" class="shipping_calculator">
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">-->
                                    <div class="shipping_calculator">
                                        <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap"
                                                aria-expanded="false" aria-controls="calcalute-shipping-wrap">Thông tin khách hàng</a></h2>

                                        <p class="form-row form-row-wide"><input type="text" id="txt_tenkhachhang" name="txt_tenkhachhang" placeholder="Họ tên khách hàng *"
                                                value="" class="input-text"> </p>
                                        <p class="form-row form-row-wide"><input type="text" id="txt_diachi" name="txt_diachi" placeholder="Địa chỉ *" value=""
                                                class="input-text"></p>
                                        <p class="form-row form-row-wide"><input type="text" id="txt_sdt" name="txt_sdt" placeholder="Số điện thoại *" value=""
                                                class="input-text"></p>
                                        <p><button class="button" data-toggle="modal" data-target="#myModal" value="1" id="dathang"
                                                name="calc_shipping" type="submit">Đặt hàng</button></p>

                                    </div>
                                    <!--</form>-->
                                    <script>
                                        $(document).ready(function () {
                                            $("#dathang").click(function () {
                                                $.post('/dathang', {
                                                    txt_tenkhachhang: $('txt_tenkhachhang').val(),
                                                    txt_diachi: $("txt_diachi").val(),
                                                    txt_sdt: $("txt_sdt").val(),
                                                    _csrf: "<%= _csrf %>",
                                                }, function (data) {
                                                    $("#code").text(data);
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Mã hóa đơn của bạn là
                    <h4 id="code"></h4>
                </p>
                </p>Nhập mã hóa đơn vào ô xem đơn hàng để xem chi tiết đơn hàng mà bạn đã đặt hàng</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#close").click(function () {
            window.location.href = "/";
        });
    });
</script>